
body{
    background-image: url(C:\Users\KingColo\Desktop\Parcial PPII\Imagenes\fondotecnologia.jpg);
}
header{
    text-align: center;
    font-size: 30px;
    background-color: white;
    padding: 20px;
}
h1{
    margin-bottom: 10px;
}

nav{
    background-color: black;
    text-size-adjust: 12px;
    padding: 10px;
    ;
    
}
ul{
    list-style: disc;
    margin: 12px;
    padding: 0;
    
}
li{
    display: inline;
    margin-right: 20px;
}
li.edu{
    
    display: list-item ;
    list-style-type: disc;
    margin-left: 20px;
    
}
li.expe{
    display: list-item ;
    list-style-type: disc;
    margin-left: 20px;
    
}

p{
    display: list-item ;
    list-style-type: circle;
    margin-left: 40px;  
}

a{
    color: #fff;
    text-decoration: none;
}

li.habi{
    display: list-item ;
    list-style-type: disc;
    margin-left: 20px;
}
fieldset{
    margin-bottom: 10px;
}
li.cont{
    display: list-item ;
    list-style-type: disc;
    margin-left: 20px;
}
li.dato{
    display: list-item ;
    list-style-type: disc;
    margin-left: 20px;
}